<li class="col-lg-3 border border-light rounded text-center m-3">
  <a [routerLink]="['/products/', product.id]">
    <img [src]="product.image" alt="" />
  </a>
    <div class="caption">
      <h5>{{product.name}}</h5>
      <h4>
        <button class="btn btn-danger m-1" (click)="onWish()" data-action="view-product">
          <i class="fa fa-heart"></i>
        </button>
        <button data-action="add-cart" class="btn btn-info"><i class="fa fa-shopping-cart"></i></button>
        <button [routerLink]="['/products/', product.id]" type="button" class="btn">$ {{product.price}}</button>
      </h4>
    </div>
</li>